#!/usr/bin/env python3

base_path = "/tmp/"

box_client_certfile = base_path + "box_fake/client.cer"
box_keyfile = base_path + "box_fake/private.key"

ca_fake_pemfile = base_path + "fake/ca.pem"
ca_fake_certfile = base_path + "fake/ca.cer"
ca_fake_keyfile = base_path + "fake/ca.key"

host_cert_dir = base_path + "fake_site_certs/hostcert/"

host_fake_pemfile = host_cert_dir + "prod.de.tbs.toys.pem"
host_fake_certfile = host_cert_dir + "prod.de.tbs.toys.cer"
host_fake_keyfile = ca_fake_keyfile
